<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <header class="header">
        <a href="/"><h2>PlaceMent Cell</h2></a>
        <div class="div">
            <a href="" class="btn">Download</a>
            <a class="btn" href="/auth/logout">LogOut</a>
        </div>
    </header>
    <div class="main form-cont">
        <form action="/interview/add" method="post">
            <input type="text" class="in" name="companyName" id="" placeholder="Company Name">
           
            <div class="score">
                <input style="height: 2rem;padding-inline: 1rem;" type="date" name="date" id="">
            </div>
            <div class="">
                <button type="submit" class="form-btn">Add</button>
            </div>
        </form>
    </div>
</body>
</html>